extends layout

block content
  .container
    h1 Comparativos de disparos 2017 x 2018 
    p Nos gráficos abaixo mostramos uma comparação entre os dados de 2017 e 2018. Algumas regiões não estavam marcadas no ano anterior e acabaram aparecendo em 2018 após a intervenção.

  .container
    .card
      h2 Bairros em 2017 x 2018
      canvas#ad_bairros1718(width='800' height='450')
      script.
        $.get('/data/ad_bairros', function(bairros) {
          
          new Chart(document.getElementById("ad_bairros1718"), {
              type: 'bar',
              data: {
                labels: bairros.labels,
                datasets: [
                  {
                    label: "Antes",
                    backgroundColor: "#ff6200",
                    data: bairros.antes
                  }, {
                    label: "Durante",
                    backgroundColor: "#005bac",
                    data: bairros.depois
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                  text: 'Population growth (millions)'
                }
              }
          });
          
        })
    .card
      h2 Municipios em 2017 x 2018
      canvas#ad_municipio1718(width='800' height='450')
      script.
        $.get('/data/ad_municipios', function(municipio) {
          
          new Chart(document.getElementById("ad_municipio1718"), {
              type: 'bar',
              data: {
                labels: municipio.labels,
                datasets: [
                  {
                    label: "Antes",
                    backgroundColor: "#ff6200",
                    data: municipio.antes
                  }, {
                    label: "Durante",
                    backgroundColor: "#005bac",
                    data: municipio.depois
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                  text: 'Population growth (millions)'
                }
              }
          });
          
        })
    .card
      h2 Municipios (sem o Rio de Janeiro) em 2017 x 2018
      canvas#ad_municipiosrio(width='800' height='450')
      script.
        $.get('/data/ad_municipiosrio', function(municipio) {
          
          new Chart(document.getElementById("ad_municipiosrio"), {
              type: 'bar',
              data: {
                labels: municipio.labels,
                datasets: [
                  {
                    label: "Antes",
                    backgroundColor: "#ff6200",
                    data: municipio.antes
                  }, {
                    label: "Durante",
                    backgroundColor: "#005bac",
                    data: municipio.depois
                  }
                ]
              },
              options: {
                title: {
                  display: true,
                  text: 'Population growth (millions)'
                }
              }
          });
          
        })
