extends layout

block content
  .container
    h1 Disparos e tiroteios 
    p Nos gráficos abaixo é possível visualizar o número de chacinas registradas nos últimos sete meses, o número de pessoas atingidas por balas perdidas na região metropolitana e também a duração dos tiroteios mais longos.
  
  .container
    .card 
      h2 Incidência de chacinas por regiões
      p.
        Este gráfico nos mostra os bairros de toda região metropolitana onde temos as maiores incidencias de disparos. Dos dez mais violentos, nove estão localizados na cidade do Rio de Janeiro.
      canvas#chacinas(width='800' height='450')
      script.
      
        $.get('/data/chacinas', function(mortes_chacinas){
          
          new Chart(document.getElementById("chacinas"), {
              type: 'radar',
              data: {
                labels: mortes_chacinas.labels,
                datasets: [
                  {
                    label: "Regiões",
                    fill: true,
                    backgroundColor: "rgba(255, 116, 61,0.2)",
                    borderColor: "rgba(255, 73, 0,1)",
                    pointBorderColor: "rgba(94, 197, 226, 1)",
                    pointBackgroundColor: "rgba(4, 133, 169,1)",
                    data: mortes_chacinas.values
                  }
                ]
              },
              options: {
                legend: {
                  display: false,
                  position: 'left'
                }
                
              }
              });
            }) 
    .card 
      h2 Pessoas atingidas por balas perdidas
      p Este gráfico nos mostra o numero de pessoas atingidas por bairros de toda região metropolitana do Rio de Janeiro
      canvas#bala_perdida(width='800' height='450')
      script.
      
        $.get('/data/bala_perdida', function(bala){
          
          new Chart(document.getElementById("bala_perdida"), {
              type: 'radar',
              data: {
                labels: bala.labels,
                datasets: [
                  {
                    label: "Regiões",
                    fill: true,
                    backgroundColor: "rgba(255, 116, 61,0.2)",
                    borderColor: "rgba(255, 73, 0,1)",
                    pointBorderColor: "rgba(94, 197, 226, 1)",
                    pointBackgroundColor: "rgba(4, 133, 169,1)",
                    data: bala.values
                  }
                ]
              },
              options: {
                legend: {
                  display: false,
                  position: 'left'
                }
                
              }
              });
            }) 

    .card 
      h2 Duração de tiroteios
      p Esta tabela nos mostra os 20 tiroteios mais longos do periodo. No total, houveram xx tiroteios. O mais curto registrado durou cerca de xxxx horas e o mais longo chegou a 24 horas.
      canvas#chartjs-6(width='800' height='450')
      script.
        $.get('/data/tiroteios', function(bala){
          new Chart(document.getElementById("chartjs-6"), {
            "type":"bubble",
            "data": {
              "datasets":bala
          },
          options: {
            legend: {
              display: false,
              position: 'left'
            }
          }
          });
        })
