extends layout

block content
  .container#home  
    h2 Sobre a intervenção
    p.
      Lorem ipsum ultrices sit condimentum sagittis tortor nulla arcu est accumsan, aliquam quam est nec metus viverra odio volutpat quisque. hendrerit et sed vulputate aliquet, donec quisque odio pharetra, tempor aenean morbi. venenatis donec eu volutpat commodo posuere pharetra quisque curabitur primis, mollis cursus porta lorem eleifend suspendisse semper eleifend, ante tincidunt eros lacus himenaeos cubilia bibendum non. taciti tempus faucibus ut accumsan dapibus augue per donec nunc ut metus velit, integer primis nullam elementum ac hendrerit aliquam metus mattis odio. vel ante gravida donec accumsan malesuada ante scelerisque condimentum sollicitudin velit pretium, augue tincidunt diam elementum condimentum phasellus dictum feugiat inceptos sapien himenaeos massa, porta lacinia habitasse phasellus metus class netus tristique semper egestas. 
    p.
      Blandit quam tortor purus hendrerit erat venenatis taciti duis integer convallis, tempor ut lacinia ut ad elit etiam dapibus dui, maecenas metus lacus conubia hac dictum mauris vivamus proin. orci senectus velit vestibulum donec vehicula cursus commodo vehicula, suspendisse dictum metus morbi velit justo. quisque phasellus cursus phasellus condimentum scelerisque mattis turpis class, sed nulla tellus habitasse potenti vehicula feugiat, ligula sapien commodo curabitur eget mauris nulla. auctor vivamus quisque tortor ligula dapibus metus ac proin gravida arcu nibh, quisque vehicula lectus mauris malesuada congue etiam donec porta morbi lacinia rhoncus, tincidunt porta risus quis suspendisse adipiscing mauris malesuada adipiscing quam. 
      
    img(src='images/map.png' alt='Smiley face' class='responsive')

    a(href='/ranking') Ver os primeiros gráficos
    a(href='www.twitter.com/fogocruzadoapp') Ver denúncias 
