extends layout

block content
  .container#home  
    h2 Sobre a intervenção
    p.
      O projeto pretende desenvolver um website que mostra dados analisados sobre violência armada no estado do Rio de Janeiro durante um período específico da Intervenção Militar de 2018. Com o surgimento e consolidação do acesso a internet e a popularização dos dispositivos móveis, o usuário é parte ativa no consumo de informações, interagindo com tudo que lhe é apresentando e podendo interferir, tornando-se não só expectador, mas também co-autor do conteúdo que consome. 

    p.
      Nesse novo ambiente que tudo está a nosso alcance, e que podemos agir para mudar, “devemos chorar tempos que não voltarão mais, como fazem os velhos que choram a juventude perdida, ou devemos esforçar-nos por intervir e procurar colocar um pouco de ordem no caos? ” (Munari, 1997)
      
    h3 Como funciona o aplicativo
    p.
      Além de receber notificações de usuários diretamente via aplicativo, a equipe de gestão de dados do Fogo Cruzado recebe informações via whatsapp, mensagens diretas via Twitter e inbox do Facebook. No caso do whatsapp, só são consideradas fontes conhecidas e com as quais já existe relacionamento prévio, como coletivos, comunicadores e moradores ativos localmente. A equipe do Fogo Cruzado também adiciona às bases de dados as informações recolhidas via imprensa e canais das autoridades policiais. Vale notar que as notificações publicadas no mapa do Fogo Cruzado são sinalizadas de acordo com suas fontes.

    p.
      Quando chega a notificação de um tiroteio/disparo de arma de fogo, esta informação não é automaticamente publicada no mapa e nas redes sociais do aplicativo. Imediatamente, a equipe de gestão de dados cruza a notificação com scripts e filtros desenvolvidos para agregar informações sobre disparos de arma de fogo na região metropolitana do Rio de Janeiro. Desta forma, é possível saber quem, quando e onde está se falando sobre o assunto de forma a cruzar informações sobre um mesmo tiroteio/disparo de arma de fogo. Após tal verificação, a notificação é postada nas redes e o incidente fica em registro público. 
      
    img(src='images/map.png' alt='Smiley face' class='responsive')

    a(href='/ranking') Ver os primeiros gráficos
    a(href='http://www.twitter.com/fogocruzadoapp') Ver denúncias 
